body {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.botao {
    margin: 2px;
    padding: 10px;
    border: medium;
    font-size: 14pt;
    background-color: #e4dede;
}

.botao:hover {
    background-color: #c4bbbb;
} 

b#reprovado {
    background-color: #e47272;
    color: #aa1414
}

b#recuperacao {
    color: #e08649;
}

b#aprovado {
    background-color: #a1e7a4;
    color: #1b661f;
}